[2012-01-16 12:18] JamesKyburz opened #1 "Missing callback"
When tested nodeCQRS https://github.com/jamuhl/nodeCQRS

I get this error when creating an item http://localhost:3000/ using the redis store

node.js:134
        throw e; // process.nextTick error, or 'error' event on first tick
        ^
ReferenceError: callback is not defined
    at /Users/jameskyburz/Documents/src/nodeCQRS/node_modules/eventstore.redis/storage.js:280:13
    at try_callback (/Us

[2012-01-16 12:58] #1 closed, assigned to nobody

[2012-09-28 14:06] lanwin opened #4 "What is the desired way of replaying all events from store?"
Please add an example to README.

[2012-10-01 10:31] #4 closed, assigned to nobody

[2012-10-01 15:04] lanwin opened #5 "Idea: event aggregation or projection engine"
Whats currently missing is a way of aggregating events and projecting them in a simple manner.

Look at the following pseudo code:

[code]

What this dose is to call each event only once per unique aggregator name even if the app is restarted. The current cursor should be automatically saved in the underlying event store storage.

If you think future, this can be extended to a full projection engi

[2012-12-19 21:55] ghost opened #7 "Events not dispatching."
It seems that events never reach eventdispatcher when using mongodb.  I've traced the execution to line 101 of eventstore.js:

[code]

then execution goes into child_process.js and gets swallowed, no errors and the publisher isn't called either.

Here's some code to reproduce:

[code]

[2012-12-20 14:15] #7 closed, assigned to nobody

[2012-12-26 23:43] ghost opened #8 "Questioning child process for dispatch"
Given the event processing via callback characteristics of node.js I'm questioning if forking a child process for event dispatching is necessary.  I'm probably missing something but couldn't the same async behavior be achieved without the complexity of child process?

[2013-01-07 08:55] #8 closed, assigned to nobody

[2013-04-05 06:24] bkak opened #9 "Geteventstore Integration"
Hi,

This question is not any issue with your Eventstore. I use it. It works great.

I was thinking is it a good idea to use Greg's GetEventStore in Node.js?

There is one driver available here :
        https://github.com/kenpratt/nodejs-EventStore

Have you attempted this? Do you see any pros & cons in this?

Any feedback is highly appreciated.

Thanks,
Bhoomi.

[2013-04-05 12:21] #9 closed, assigned to nobody

[2013-04-24 13:38] #5 closed, assigned to nobody

[2014-01-07 08:58] AlexandreRoba opened #12 "Stoping the Store"
Is there any proper way to clean the store?

If you start the EventSotre on the test setup method. What would you do on the tearDown?

Thanks for this work.

[2014-01-07 11:51] #12 closed, assigned to nobody

[2014-04-20 11:54] ron-liu opened #14 "publish twice"
Could you please check: http://stackoverflow.com/questions/23181661/nodeeventstore-publish-twice.

Thanks,
Ron

[2014-04-23 11:13] #14 closed, assigned to nobody

[2014-07-07 16:20] Jared314 opened #15 "MongoDB storage provider still creating the default 'eventstore' db when configured to use a different dbName."
I configured the MongoDB storage provider to use a different dbName, following the readme example. The new db is correctly created and used for event storage, but an `"eventstore"` db is still created each time I start the server.

**Library versions:**

eventstore `0.7.6`
eventstore.mongodb `0.7.5`

**Test code:**

[code]

[2014-07-07 19:05] #15 closed, assigned to nobody

[2014-07-12 18:15] Jared314 opened #16 "Calling getNewEventStream throws "ReferenceError: self is not defined""
Calling `getNewEventStream`, on an instance of `Store`:

[code]

Throws:

[code]

**Version:**
eventstore `0.7.6`

[2014-07-14 14:22] #16 closed, assigned to nobody

[2014-07-15 02:18] Jared314 opened #18 "Is there a reason the publisher interface does not match Node's EventEmitter?"
Node.js provides an EventEmitter class. Is there a reason why the interface does not match and the fakePublisher does not use it?

[2014-07-19 00:08] #18 closed, assigned to nobody

[2014-08-18 03:38] brighthas opened #19 "streamId & aggregateId difference?"
streamId & aggregateId difference?

and document detailed please.

[2014-08-19 15:34] #19 closed, assigned to nobody

[2014-11-17 14:03] gebrits opened #24 "multiple snapshots: how to do `getFromSnapshot` using `version`"
Browsing through the docs and this looks great.

One thing that caught my eye, is that I want to create a new snapshot after N events have happened. This results in M snapshots over time that I want to be versioned.

`createSnapshot` allows me to define an optional `version`. Normally I'd like to retrieve the latest snapshot (is there a shortcut to get to the latest without defining a `version` ?

[2014-11-21 02:58] izengliang opened #25 "cqrs framework use node-eventstore"
cqrs framework use node-eventstore

https://github.com/leogiese/cqrs

your eventstore very good , thanks @adrai

[2014-11-21 06:32] #25 closed, assigned to nobody

[2015-01-26 22:46] nizachon opened #27 "How to pass 'options' into the custom implementation of 'Store'?"
Adriano,

Following your instructions (https://github.com/adrai/node-eventstore#own-db-implementation), I was able to have *EventStore* use my own implementation of *Store*.

But after being a happy camper for a few days, now I don't see a way to pass *options* into my *Store*'s (and also, *EventStore*'s) constructor.

https://github.com/adrai/node-eventstore/blob/master/index.js#L7 :

[code]

htt

[2015-01-27 14:30] adrai commented on #27
ok, I see the problem... What do you think on having the "own implementation" as second argument?

[2015-01-27 14:42] adrai commented on #27
No, this is a bad idea, this will break the api of some other cqrs modules... but we could do something like:

[code]

[2015-01-27 15:30] nizachon commented on #27
So *type* will be interpreted as a constructor function, correct?

[2015-01-27 15:41] #27 closed

[2015-01-27 23:01] nizachon commented on #27
https://github.com/adrai/node-eventstore#own-db-implementation :

Shouldn't it be *MyDB* instead of *Store*:

[code]

[2015-01-28 06:43] adrai commented on #27
Yes

Il giorno 27-gen-2015, alle ore 23:52, nizachon <notifications@github.com<mailto:notifications@github.com>> ha scritto:

https://github.com/adrai/node-eventstore#own-db-implementation :

Shouldn't it be MyDB instead of Store:

var es = require('eventstore')({
  type: Store
});
// es.init...

-
Reply to this email directly or view it on GitHub<https://github.com/adrai/node-eventstore/issues/27

[2015-01-28 17:29] nizachon opened #28 "Cannot use custom store when it is brought in as a dependency (v1.1.3)"
Adriano,

Current implementation fails when I have more than one version of *eventstore* module in the project's *node-modules* tree. If the project makes use both of *cqrs-domain* and *my-custom-store*, which both require *eventstore*, then the project's *node-modules* tree will look like this:

* cqrs-domain
  * eventstore (1)
* my-custom-store
  * eventstore (2)

Then this check:

[code]

will

[2015-01-28 21:27] adrai commented on #28
ok, v1.1.4

[2015-01-28 21:27] #28 closed

[2015-01-28 23:37] nizachon commented on #28
Thank you!

[2015-03-24 13:20] #24 closed

[2015-05-23 12:57] adrai opened #35 "getEventsSince function for azuretable"
@rvin100 or @sbiaudet can you implement this function for azuretable?
https://github.com/adrai/node-eventstore/commit/f802f69d2f58f879f40059e623673b703cf2779a#diff-83b1684b9c75ed90f43e1189240e7d4dR146

[2015-05-24 05:34] adrai commented on #35
...and perhaps you can take a look at the revisionGuardStore of cqrs-saga and cqrs-eventdenormalizer?

[2015-06-09 19:31] inf3rno opened #38 "low quality documentation"
I think ppl (like me) who only know the basics, but never used an event storage in a project, won't understand how to use this lib, because the documentation is too low quality. It is just a bunch of examples without any indication why and when we should use the actual function.

[2015-06-09 20:20] adrai commented on #38
I agree.

[2015-06-18 17:56] adrai opened #39 "[redis] replace keys call with scan call"

[2015-06-23 13:28] #39 closed

[2015-07-02 04:54] #35 closed

[2015-08-15 05:01] NilsFrkal opened #45 "Only Getting Undispatched Items per StreamID"
Hi, not an issue, but I couldn't find a better way to ask this question. Is there any way that I can get only the undispatched items per streamId? It works in the "add - commit" scenario but not if I do not want to add an item. the getUndispatched function returns ALL undispatched item for the es and I could loop over this, but I guess this is not the most efficient way.

Thank you very much!

[2015-08-15 09:47] adrai commented on #45
No at the moment there is no api that does this... but may I ask why you need it? What is your intend?

[2015-08-15 10:17] NilsFrkal commented on #45
Re: [node-eventstore] Only Getting Undispatched Items per StreamID (#45)

Thanks for getting back to me ... here is my scenario:

My users can be online or offline. My backend doesn't know about the sessions as this is managed in nodejs/sessions/redis. So all "relevant events" are send out and stored in your event store (pretty cool stuff by the way ...). Anyway, I can have 2 situations:

A) user

[2015-08-15 12:42] adrai commented on #45
ok? https://github.com/adrai/node-eventstore#own-event-dispatching-no-event-publisher-function-defined
v1.5.0

[2015-08-15 20:38] NilsFrkal commented on #45
Awsome! Works like charm ... Thanks Adrai. Much appreciated.

[2015-08-15 20:38] #45 closed

[2015-09-09 12:44] TheolZacharopoulos opened #46 "mongodb driver authSource authentication option not supported."
The module does not support mongodb authentication through a database, (no authSource on the authentication options)
https://mongodb.github.io/node-mongodb-native/driver-articles/mongoclient.html#auth-options

[2015-09-09 13:04] adrai commented on #46
Can you make a PR?

[2015-09-09 14:23] TheolZacharopoulos commented on #46
Sure!

[2015-09-09 15:14] TheolZacharopoulos commented on #46
Done in https://github.com/adrai/node-eventstore/pull/47

[2015-12-06 12:48] mpseidel opened #50 "Remove default access keys from azuretable.js"
Hey,

I was wondering why I didn't get any error messages using node-eventstore without providing access keys. Well the default access keys in azuretable.js do work :)  I guess you don't want people go to town on that storage account?

Cheers
Michael

[2016-01-12 02:49] liangzeng opened #54 "about event.context"
https://github.com/adrai/node-eventstore/blob/master/lib/event.js#L40

    this.context = event.context || eventstream.context;

[2016-01-12 07:26] adrai commented on #54
event.context is not always structured like this, the context information could be everywhere

[2016-01-13 02:39] liangzeng opened #55 "Could I query the event data through event.payload data such as parent.event.payload?"
Could I query the event data through event.payload data such as event.payload.parent?

Could you show me an example?

    store.findEvents({payload:{parent:["parentA","parentB"]}} ... )  ?

[2016-01-13 02:51] liangzeng commented on #55
store.findEvents({payload:{parent:["parentA","parentB"]}} ... )  ?

[2016-01-13 07:04] adrai commented on #55
no

[2016-02-03 18:09] #55 closed

[2016-02-03 18:09] #54 closed

[2016-02-05 10:47] sameer-convergentappworks opened #60 "save fired repeatedly in a loop"
Hello guys,

I have a basic view builder like below

[code]
The debug statement is fired repeatedly on the console with the time (in ms) it takes for action.
It seems to be re-saving the document repeatedly in a loop. The issue is quite intermittent.

I have to kill the process to stop it from looping.

[code]
....
...

I need to fix the issue before the product go-live. Please help.

[2016-02-05 11:17] adrai commented on #60
I think this has nothing to do with eventstore...
but, without knowing how this is set up, I can't really help you. :-(

[2016-02-05 11:29] sameer-convergentappworks commented on #60
Possibly. I am using Mongo for store.

After few trials,  looks like it could be due to the JSON with empty arrays or nested object with array.
Will keep you posted..

[2016-02-05 14:03] sameer-convergentappworks commented on #60
Sorry for not giving you a proper test for reproducing, but I think this seems to fix the issue.

For arrays properties I have to check if they exist and have elements
for other properties
[code]
and because I pick out array properties for setting I have to repeat the following for other non array properties.
[code]

Need to dig deep in code for vm.set for Mongo store.

[2016-02-24 11:01] sameer-convergentappworks commented on #60
hi adrai,

I have got better logs now. I use mongo store.
The logs show error in loop. I have to kill the process to stop. Does it help ?
[code]

[2016-02-29 16:12] sameer-convergentappworks commented on #60
Not an issue. closing.

This was happening on the page where a command was fired twice. I wasn't pulling the latest state before the second command was fired. As a result _hash value was stale.

As a result the framework raised concurrency error which is correct.

[2016-02-29 16:12] #60 closed

[2016-03-02 14:23] ChubbyArse opened #62 "How to Init()?"
Hi, I'm trying to POC this for storing events - however, I'm finding that I'm not able to get the init() call to complete.

I've got the initialisation code for the es in a file that is pulled into my index.js by a require statement. I can see the Init() line being called and it waits on the process.nextTick(function() { statement.

How should I be initialising the eventstore? My index.js spins up

[2016-03-02 18:43] adrai commented on #62
I need more infos to help you...
there is an example usage here: https://github.com/jamuhl/nodeCQRS

[2016-03-07 13:09] leidegre opened #63 "Feature request, commit multiple event streams in one go"
I have a situation where I have dependencies between aggregates parent/child relationship. In this case, it would be really useful if it would be possible to say that I wanted to save changes of two (or more) event streams as a single transaction.

Similar to how multiple events are stored using an intermediate _transaction_ document.

If there's a better way to do this, I'm all ears.

[2016-03-08 06:54] adrai commented on #63
in a distributed system... this is not really possible... so I think this "feature" will not land here... :-(

[2016-03-08 07:26] leidegre commented on #63
@adrai OK, yeah that's definitely a hard problem but not impossible. Just look at what Google is doing in Spanner. Not saying, we should compete with Google ;)

I spent some time reading the source code yesterday (I was looking at the mongodb provider specifically). It already does implement a sort of transaction handling. Would it really be so bad to have something that allowed me to commit multi

[2016-03-08 07:32] adrai commented on #63
Ok... try to do a PR... :-)

[2016-03-08 07:34] leidegre commented on #63
@adrai I'll try to get a working prototype with mongodb (since that's what I'm working with right now) done and we can talk about what we'll do from there. No commitments just exploring the possibilities. To be continued.

[2016-03-08 07:34] adrai commented on #63
ok

[2016-03-09 05:50] mpseidel commented on #63
@leidegre would you mind sharing what kind of aggregates you are working with? What's the domain you are working in and what are you trying to achieve?

I am asking because usually your aggregates should be your consistency boundary and transactions across aggregates should not be necessary as I understand the concept.

[2016-03-09 05:53] mpseidel commented on #63
In the case of a parent/child relationship - shouldn't all command be issued against the parent (root) aggregate and so also all events being raised come from that root aggregate?

[2016-03-09 05:56] adrai commented on #63
@mpseidel +1 :-)

but what if somebody do use an eventstore without implementing cqrs?

[2016-03-09 06:28] mpseidel commented on #63
@adrai well - if you are not trying to implement it the ddd/cqrs way then it might be a totally different situation and the use case could be valuebale. but the implementation as of now is written to explicetly use constructs of ddd as we have `aggregate` and `aggregateId` in the codebase for example.

implementing and supporting it could lead to problems though especially with supporting multiple

[2016-03-09 06:39] adrai commented on #63
You're right!

Il giorno 9-mar-2016, alle ore 07:25, Michael Seidel <notifications@github.com<mailto:notifications@github.com>> ha scritto:

@adrai<https://github.com/adrai> well - if you are not trying to implement it the ddd/cqrs way then it might be a totally different situation and the use case could be valuebale. but the implementation as of now is written to explicetly use constructs of ddd

[2016-03-09 06:57] leidegre commented on #63
@mpseidel It's like this,

We have hotels and a hotel can have a single hotel as its parent. Further, a hotel that is the parent of some hotels also have these hotels readily available as children.

You can have hotel A the parent of hotel B and C but hotel B and C cannot have any other parent (or be child of any other hotel).

The way our infrastructure works is that we have an ID and aggregate t

[2016-03-09 17:35] mpseidel commented on #63
@leidegre thanks for elaborating. My girlfriend does know more about the hotel industry than me but I am assuming that you are tyring to model hotelchains and hotels that are belonging to that chain or is it something completely different? What makes a hotel A the parent of hotel B in the real world?

Anyways: Following DDD practices I would first do some context mapping and decide in what context

[2016-03-10 07:21] leidegre commented on #63
@mpseidel thanks, this is great, I'll try to be more descriptive. This is a great learning experience for me.

What we're trying to do is to create a group of hotel buildings. A standalone hotel is a hotel that has no parent (does not belong to a hotel complex (or grouping)). A hotel complex is a hotel that has one or more hotel buildings (children) and a hotel building is simply a hotel with a pa

[2016-03-12 06:51] mpseidel commented on #63
Hey @leidegre,

It think there is a conflict between

and

It seems that you already have defined the concept (you have described it perfectly in the second paragraph) it is just not reflected in your code/data design. This can make things hard going forward as you need the concept in the reporting context.

But the concept of a group or hotel complex does not have to be everywhere. You might be a

[2016-03-23 08:29] leidegre commented on #63
OK, @mpseidel

The reporting is just aggregations in a data warehouse. Presently all they have are hotels but now that we can group hotels they can use those groups to create aggregate reports based on a group of hotels. It's just something to group by in your SQL database, it's really nothing fancy.

Help me understand because I don't see how it's possible to "design" away the fundamental aspect

[2016-04-14 18:25] rkaw92 commented on #63
@leidegre: Do hotels contain hotels? Your Aggregate Roots need to be as close to the truth as possible. I find it hard to imagine a "matryoshka" hotel, therefore I second the suggestion that having groups is the way to go. However...

A somewhat non-obvious solution that I sometimes use in my entities is having a reference (in your case, a "group ID") to something that does not really exist. This

[2016-04-15 13:38] leidegre commented on #63
@rkaw92 thanks for your insight. Do you have any other examples of how you can model relationships? And specifically how to maintain consistency. This whole issue is centered around the need to commit two distinct events atomically to be able to say that the relationship was created without violating some of our validation logic.

[2016-04-15 14:48] mpseidel commented on #63
@leidegre I think the only really clean way to do this would be to model this problem inside one aggregate. Thats the whole idea arround consistency when using eventsourcing and ddd (http://geekswithblogs.net/Optikal/archive/2013/04/07/152643.aspx).

You can always try to enforce consistency by locking stuff, use transactions and other hard to deal with stuff. You can have a look at the saga patte

[2016-04-15 15:14] rkaw92 commented on #63
@leidegre The usual way that I have employed to model real parent-child relationships is this:
* Have a parentID in the child, but no list of children in the parent
* Validate parent's existence in a Domain Service that performs 1 read from the parent's Aggregate Root and 1 write to the child
* Make use of the fact that Aggregate Roots may not be destroyed in Event Sourcing - if we've validated th

[2016-04-24 06:31] hilkeheremans opened #66 "InMemory store leaks variable reference to stored data"
This issue popped up during testing of my domains with `cqrs-domain`, where (for performance and environment set up reasons) I use an `in-memory` store instead of an external DB.

The InMemory database, when retrieving events, returns a direct reference to the events that were stored in memory. By returning this direct reference, anything using the data can mutate the events that are in the memory

[2016-04-24 07:00] hilkeheremans commented on #66
As a sidenote, I did not touch the `tingodb` implementation - I am not sure if that is affected

[2016-04-27 14:00] danwkennedy opened #68 "Support for mongodb uri connection strings"
We construct mongo connection [strings](https://docs.mongodb.org/manual/reference/connection-string/) and I was wondering if that is supported in this module. I'm mainly asking because we use the different options pretty heavily depending on the environment (local doesn't use a replica set whereas production does).

[2016-04-27 19:24] adrai commented on #68
Url no... But replSet yes: https://github.com/adrai/node-eventstore/blob/master/lib/databases/mongodb.js#L53

[2016-04-27 19:36] danwkennedy commented on #68
Looks like other related options are being omitted in that case. Our DevOps types would like to manage things like the read preference, write preference, replica set name, etc.

This is mainly the reason why we switched to handling URL's. There are nifty generator libraries that'll abstract them out for you such as https://www.npmjs.com/package/mongodb-uri

[2016-04-27 19:39] adrai commented on #68
If you want you can try to do a PR an I will try to merge it asap, ok?

[2016-04-27 19:42] danwkennedy commented on #68
Sure thing, I'll see what I can do.

[2016-04-29 13:06] danwkennedy commented on #68
@adrai are all the the unit tests passing in master? I'm getting failing tests locally and was wondering if I need to do something special to get them working.

[2016-04-29 15:05] adrai commented on #68
if inmemory stuff works locally then you can try a PR

[2016-04-29 15:23] danwkennedy commented on #68
K, I'll cleanup some stuff and set it up

[2016-05-03 13:16] danwkennedy opened #69 "Is there a way to get a list of unique aggregate id's?"
So we can be a little smarter about re-indexing our read models, it'd be cool if we could retrieve a list of unique aggregate ID's.

[2016-05-03 16:06] mpseidel commented on #69
@danwkennedy how about just creating a new readmodel to store all aggregate ids (grouped by aggregate type or however you need it)?

[2016-05-03 16:58] danwkennedy commented on #69
Seems counter-intuitive that a store for streams of events can't tell me how many streams are stored.

[2016-05-03 20:35] mpseidel commented on #69
Yeah - would ne nice to have it out of the box. I think in this particular project the challenge is to support multiple db implementations which is already hard to do just to cater to the basic use cases.
Have you used other even stores that have that capability?

[2016-05-03 22:33] danwkennedy commented on #69
Agreed. GetEventStore at least has the capability in its management tools as far as I can tell. You can pull up a list of streams. I'm not sure if it's keeping track of them via internal event streams or not. That might be the design for this sort of feature: building a list of streams using the event streams themselves like you suggested @mpseidel

[2016-05-07 05:22] mpseidel commented on #69
@danwkennedy yeah - geventstore ships with a bunch of projections if I remember correctly. Do you mind sharing what your plan to index your read models looks like assuming you had the list of unique aggregate ids?

[2016-05-20 05:26] #68 closed

[2016-05-20 23:04] amri opened #71 "Support for RethinkDB database"
I'm considering RethinkDB as the event store due to the simplicity to setup as cluster in 1 node / multiple node.

[2016-05-21 07:29] adrai commented on #71
PR are welcome ;-)

[2016-05-29 20:47] #66 closed

[2016-06-09 17:43] #46 closed

[2016-06-10 03:20] mmmdreg opened #72 "Duplicate revision id"
I'm not sure if this is intentional feature or bug...

If I create two events for the same aggregateId at the same time using mongo store (haven't tried others), they are both commited successfully with the same revisionId. I would expect the store to throw for the second event so that it can retry (revalidate on the updated state and then commit if successful).

To illustrate this, given a bank a

[2016-06-10 04:27] adrai commented on #72
Are you using eventstore only or in combination with cqrs-domain?

[2016-06-10 04:28] adrai commented on #72
This sort of features are handled by cqrs-domain.

[2016-06-10 05:25] mmmdreg commented on #72
Interesting. Just using eventstore for now. So cqrs-domain is basically using another DB collection to keep track of locks on aggregates? What if the store just used a unique index on aggregateId/revisionId so it doesn't need a manual implementation in the command handler?

[2016-06-10 05:27] adrai commented on #72
this is just a fallback... to really solve the problem in a distributed system you have to ensure all commands of the same aggregate instance will target the same worker process... so you have to solve it on a system level. i.e. with rabbitmq and consistent hash exchange

[2016-06-17 04:17] tomdavidson opened #73 "Lambda, SNS, DynamoDB"
I am working on an event store implementation using AWS SNS, DynamoDB, and Lambdas. Understanding that a DynamoDB implementation would be needed, is there any reason why node-eventstore would be a bad fit? SNS vs Atom?

[2016-06-17 18:13] adrai commented on #73
I think dynamodb should work...
Perhaps needing more indexes to fulfill all tests...

[2016-06-17 18:16] adrai commented on #73
Would be nice to have a dynamodb implementation...
Feel free to submit a PR :-)

[2016-06-21 00:04] tomdavidson commented on #73
Thanks for the quick reply. Still trying to get up to speed on all of the pieces, including your cqrs-domain.

[2016-08-04 17:30] developmentalmadness commented on #73
I submitted a PR for dynamodb but build failed due to missing configuration for AWS. Any suggestions on how to successfully submit a PR? I could comment out the dynamodb type from the storeTest.js and eventstoreTest.js but that would be cheating :)

[2016-08-04 17:43] adrai commented on #73
We need a sponsor...
or we skip it in the tests and run them only locally...

[2016-08-04 19:22] developmentalmadness commented on #73
If you're fine with it I can just comment out the dynamo tests for the check-in.

[2016-08-04 19:23] adrai commented on #73
Ok

Il giorno 4-ago-2016, alle ore 21:16, Mark J Miller <notifications@github.com<mailto:notifications@github.com>> ha scritto:

If you're fine with it I can just comment out the dynamo tests for the check-in.

-
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/adrai/node-eventstore/issues/73#issuecomment-237656323>, or mute the threa

[2016-08-11 18:37] danwkennedy opened #76 "Dispatcher doesn't dispatch sequentially"
If for whatever reason a large number of events don't get dispatched, the next time the dispatcher is started, it'll get the whole list of those events and call the callback in a loop. If you have some sort of async service using the dispatcher, a whole bunch of asynchronous requests will fire within milliseconds of each of them. It'd be nice if the dispatcher would wait for the passed callback to

[2016-08-11 19:48] adrai commented on #76
May you want to do a PR?

[2016-09-05 13:47] AlexandreRoba opened #77 "[Question] Audit/Explorateur like LOKAD"
Hello, i was wondering if any of you built a nodejs web app that can be plugged on the eventstore that would allow for auditing and investigation? Something like the lokad ["maintain app"](http://lokad.github.io/lokad-cqrs/) . If not, I believe I would start one as I found it kind of handy.
thanks,
Alex.

[2016-09-06 09:51] adrai commented on #77
No there is no web app right now...
in production we have the proprietary db tooling (i.e. for mongo, redis, etc...)
Feel free to start such a project... but try to implement it db agnostic...

[2016-09-06 10:12] AlexandreRoba commented on #77
Yep. My intention was to use the eventstore api. Then I can leverage the multi db support.

[2016-09-09 07:37] johanneslumpe opened #79 "Updating to ES2015/16/17"
It would be nice to update the codebase to a newer version of JavaScript for less verbose and potentially more readable code. If there is an interest in this I'd offer to send a PR, as it would also give me an excuse to thoroughly dig through the codebase.

[2016-09-09 10:13] johanneslumpe opened #80 "[Question] How battle-tested/stable is the library"
@adrai I assume that you have been using the library for a few projects at least? If so, could you give some insights into the stability/durability of the project? Any kind of feedback would be appreciated 👍

[2016-09-09 13:18] adrai commented on #79
At the moment we support older version of node i.e. 0.10 or even 0.8
I think we should wait a bit... but as soon as nobody is interested in this old versions anymore we could update the code...

[2016-09-09 13:22] johanneslumpe commented on #79
We could still use Babel to transpile the code so that it works in older node versions. But apart from that, 0.8 and 0.10 are obsolete versions.

[2016-09-09 13:22] adrai commented on #80
I can just say... that this library is used in multiple projects in production environments.
The best db implementation perhaps is mongodb.

[2016-09-09 13:32] adrai commented on #79
I'm a big fan of transpiling for frontend... but not for backend...
I would update the code directly to be compatible with node v6.x LTS but we have to wait a bit...

[2016-09-09 13:34] johanneslumpe commented on #79
Ah ok. Just out of curiosity: why don't you like transpiling on the backend? Not trying to force anything here, just genuinely curious.

[2016-09-09 13:40] adrai commented on #79
tabs vs. spaces ;-)

[2016-09-09 14:23] johanneslumpe commented on #79
:D

[2016-09-11 21:46] johanneslumpe commented on #80
Ok cool, thanks!

[2016-09-11 21:46] #80 closed

[2016-09-11 21:46] #79 closed

[2016-09-11 21:54] johanneslumpe commented on #72
@adrai Don't want to hijack the topic but could you maybe explain consistent hash exchange a bit more? That seems quite relevant to issues I have been thinking about, i.e. two users issuing conflicting commands at ~ the same time to the same aggregate. If both get routed to the same worker then one of them will see an invalid state and can be rejected, effectively eliminating race conditions for a

[2016-09-12 04:44] adrai commented on #72
https://github.com/rabbitmq/rabbitmq-consistent-hash-exchange

Il giorno 11-set-2016, alle ore 23:47, Johannes Lumpe <notifications@github.com<mailto:notifications@github.com>> ha scritto:

@adrai<https://github.com/adrai> Don't want to hijack the topic but could you maybe explain consistent hash exchange a bit more? That seems quite relevant to issues I have been thinking about, i.e. two users is

[2016-10-04 18:48] xprt64 opened #83 "What about consistency between failed transaction and before repairFailedTransaction in mongodb adapter?"
In case of a event add failure (after the transaction is added but before `repairFailedTransaction`), clients would read from an inconsistent event stream; this can lead to inconsistent application state witch can have unpredictable consequences.

[2016-10-04 20:35] adrai commented on #83
If the read is performed via this library's functions, it will be condistent

[2016-10-19 16:41] albe opened #84 "Eventstream uncommittedEvents possibly overwrites events that were not committed yet"
**Scenario:** Retrieve the evenstream of an aggregate and keep a reference to it, adding new events to it and committing occassionally.

**Expected Result:** All events added to the stream are actually persisted

**Actual Result:** Some events are not persisted, because the uncommittedEvents array has been altered between the `store.addEvents()` call and the callback (async IO) and then gets overw

[2016-10-19 16:43] albe commented on #84
/cc @f3lang

[2016-10-20 06:03] #84 closed

[2016-11-02 16:23] rehia commented on #24
Hi @adrai,

Instead of creating a new issue, I prefer to ask my question here.
Actually, I have the same question: How could I easily get only the latest snapshot (with only the new events), without knowing the current revision ?

I'm using redis store, and it seems that the snapshots are all scanned by default (using `revMax === -1`).
I was using snapshots to enhance performance because of a lot

[2016-11-02 16:30] rehia commented on #24
By the way, we can also reverse the question by asking: how is it possible to get the snapshot of revision `1`, if there is already a snapshot for revision `4` ?

[2016-11-02 17:57] rehia commented on #24
Finally made a pull request to improve the way snapshots are loaded.

[2016-11-02 18:30] adrai commented on #24
Sorry, had no time to take a look at it...
Will look at it asap.
Thanks for your contribution.

[2016-11-03 22:03] rehia opened #90 "[redis] aggregates versioning might be inconsistent"
While I was trying to use snapshots with redis, I ran into an issue which causes bugs when reloading my stream.
In some cases, and often under heavy load, redis store can produce multiple events with the same revision. So at a moment, the number of events (eg. 15) is higher than the current revision (eg 13, event revision 5 and 6 are "duplicated").
The problem starts when loading a snapshot and th

[2016-11-03 22:32] rehia commented on #90
Actually, it's possible to re-sync stream by returning the generated streamRevision from Lua script :)

[2016-11-04 06:29] adrai commented on #90
You're right. In all cqrs systems I'm active, the system guarantee that all commands of aggragate (event-stream) are passed to the same worker with the help of (i.e. rabbitmq consistent hash exchange and cqrs-domain, etc...)
But everything, that makes node-eventstore better is a good thing ;-)

[2016-11-07 10:21] #90 closed

[2016-11-18 10:39] rehia opened #94 "Redis overall performance improvements"
While heavily using this awesome lib with Redis, I have a couple of performance improvements in mind.
I'd like to share them here, to open the discussion on it.
Obviously, this will lead to some PRs.

- the way events are retrieved by scanning all the keys with a match pattern forces to get all the keys before any `mget`, because `scan` does not guarantee the order. maybe using a sorted set to sto

[2016-11-19 08:01] adrai commented on #94
Nice ideas...
would mean when changing the redis implementation it will not be backwards compatible (just keep in mind)
For the rolling snapshot I wish that feature would be working for the other db implementation too ;-)

[2016-11-30 10:26] rehia commented on #94
I still think about this issue.
And I had performance issues, even after using snapshots (I had about 40K snapshots).
It took a very long time (3 sec ?) loading the last one.

The main concern I see are still the ones mentioned in the issue description.
- Find a way to better index snapshots and events to scan a large number of them. This could be done even backwards compatible, by just creating n

[2016-11-30 14:04] juhoojala opened #96 "Empty arrays convert to objects with Redis backend since version 1.10"
Thanks for maintaining this project!

Since version 1.10, arrays convert to objects when stored with a redis backend. Version 1.9 works fine.

This is caused by the new Lua scripts in this commit:
https://github.com/adrai/node-eventstore/commit/401c5373a15f46b7b04ab6cf74a378cea1d0ce97

See below link for more information:
http://openmymind.net/Lua-JSON-turns-empty-arrays-into-empty-hashes/

[2016-12-01 06:09] adrai commented on #96
@rehia Can you take a look at it?

[2016-12-01 17:16] rehia commented on #96
sure...
@juhoojala do you have an event as an example, so I can add a new test?

Thanks!

[2016-12-05 08:13] rehia commented on #96
hi @juhoojala, I'd really need one of those examples.
I'd like to fix it with a test which reproduce it.
Thanks!

[2016-12-07 08:10] juhoojala commented on #96
Hi @rehia, sorry for not getting back earlier!

`package.json`
[code]

`index.js`:
[code]

Output
[code]

I'm using node v.6.2.0 and the `sameersbn/redis:latest` docker image to run redis.

[2016-12-08 09:09] rehia commented on #96
OK thanks @juhoojala for this.
The original event and the returned one will help.
Try to find some time in the coming days to find a fix.

[2017-01-04 19:04] #96 closed

[2017-01-10 22:46] pingchen opened #98 "Error: The events passed should all have a streamRevision!"
I got the following error when I try to write an event into event store which is empty:

[code]
We are still using nodejs 0.12.7. I traced down to the line 52 in eventStream.js.  It appears that, when the events is [], the code is still managed to reach line 49 to cause to crash.

After I changed the line 47-48 to
[code]
The crash problem stops.

[2017-01-11 07:46] adrai commented on #98
Can you submit a Pull request?

[2017-01-13 06:40] #98 closed

[2017-01-17 22:20] rehia opened #100 "Cleaning Snapshots"
I started a conversation in the issue #94 to talk about overall performance improvements.
I was talking about a feature, where the snapshots are cleaned automatically.
So I started an implementation here https://github.com/rehia/node-eventstore/tree/clean-snapshots, where I implemented the snapshot cleaning feature for in memory and redis stores.
I still need to make some wider tests, but I also w

[2017-01-17 22:23] rehia commented on #100
At the moment, I have muted other stores tests, because I don't know if I will be able to implement it in every stores.
A little help would be great !
I also don't know how to allow people to contribute to what will become a PR on this project.
Note that, in the base store, snapshots cleaning remain silent (only a warning) if not implemented in the store used by an application

[2017-01-18 07:17] adrai commented on #100
I would do the cleaning in combination with cqrs-domain.
for example here: https://github.com/adrai/node-cqrs-domain/blob/master/lib/defaultCommandHandler.js#L409 after creating a new snapshot

[2017-01-18 07:25] adrai commented on #100
It would be nice if you could do the mongodb implementation too (just if you want)...

[2017-01-26 00:15] rehia commented on #100
I've done a few things:
 - implementing snaphost cleaning for mongodb and elasticsearch. it seems optimized for elasticsearch, not sure for mongodb...
 - I've just changed a bit when snapshot cleaning is called: even when adding snapshot fails
Let met know if you see other things before submitting the PR

[2017-01-26 06:30] adrai commented on #100
Seems ok,
btw: tingodb has the same api of mongodb ;-)

[2017-01-26 18:22] rehia commented on #100
haha 😅
didn't know anything about tingo before 😁
i'll try to do it.
just need to grab the docker image to test.

I also need to make some real world tests on my project, with a huge amount of snapshots, to see if everything is ok.
I'll let you know

[2017-01-27 23:57] rehia commented on #100
done !
as long as the tests in real world.
Seems to work pretty good !
Just need a release !

[2017-01-28 07:37] #100 closed

[2017-01-28 08:02] adrai commented on #100
v1.2.0

[2017-01-28 08:06] rehia commented on #100
ok thanks @adrai !
i'll take a look at redis indexation to have more efficient scans

[2017-01-28 08:09] hilkeheremans commented on #100
no time to contribute atm, but just want to leave a quick thank you!

[2017-01-28 08:12] adrai commented on #100
@rehia I had to exclude elasticsearch the search function has some errors (no idea why)

[2017-01-28 23:10] rehia opened #102 "Redis indexation"
In #94, I was talking about some ways to improve redis implementation performance, mostly when there are a large number of events (or snapshots).
The problem with actual the implementation is the `scan` which usually need to scan every events (or snapshots) of an aggregate, and then make the necessary calculations to only take needed events.

I have made a quick test with my production data.
I hav

[2017-01-29 07:26] adrai commented on #102
Sounds like a breaking change for the redis implementation... (have to write this at least in the release notes)
As far as I know your production data is the biggest for redis... so you're the expert ;-)

[2017-02-02 14:23] IRT-fbachmann opened #103 "Get all events since event with id?"
I'm wondering how replay is done best. My intuition was to take "THE_LAST_EVENT_SEEN"-id from the revisionGuard of my event-denormalizer and read all events from the event store that come after that one.

However, I still didn't find this feature and wonder how this should be done instead... What is the desired way to do this (or am I completely wrong with this thinking)?

[2017-02-02 14:54] adrai commented on #103
In the projects I've seen so far... for the replay use case (new read model) we/they do replay each event from the beginning.... => getEvents https://github.com/adrai/node-eventstore#query-your-events
and for occasionally missing events => getEventsByRevision
and only for edge cases when denormalizers where down for a longer time... they do get the "THE_LAST_EVENT_SEEN" containing an occurredAt fi

[2017-02-03 07:36] IRT-fbachmann commented on #103
Thanks for the fast reply... the last point is how I do it currently. However, I quite often had events that occurred at the same time (yes, exactly same time down to milliseconds). Guess I just augment my function so it ignores everything that comes before the last seen event ID.

[2017-02-10 21:18] rehia commented on #102
I managed to make something work, but I need to do more tests.
I was also wondering if I should modify the existing redis implementation, or if I should apply Open Closed Principle and extend the existing implementation, and add a new database type (called `indexedRedis` ?), compatible with the existing implementation.
What do you think about it ?

[2017-02-10 21:37] adrai commented on #102
I think it's ok to replace the current implementation when we can proof the new one to be better in form of performance etc...

[2017-02-10 22:53] rehia commented on #102
Sure, but the store needs to be indexed, before any usage. It is done on `init`.
And it can take quite a long time (I've indexed my 122K+ events store in 170 sec on my Mac Book Pro 😅, because of the full scan made on all events), and might be done outside of the application (using a dedicated node task), depending on the size of the db.
So I was thinking about the best option not to break compatib

[2017-02-11 07:02] adrai commented on #102
But is the already stored data compatible with the new implementation?
So really only this indexing task is what it's needed?
So perhaps the indexing in the init is ok... but we can offer a script to execute to do this indexing on an other process?

[2017-02-11 16:26] rehia commented on #102
Yes sure, it's fully compatible.
The events are not updated. Only some keys are added to better index events and snapshots.
But once you switch to an indexed redis store, the indexation is done. You can go back to a not indexed redis store, but you will have to do it manually (by removing a dedicated key).

What I can do, when you want to use an indexed redis store, is:
 - checking if the database

[2017-02-11 17:18] adrai commented on #102
Yes, let's try :-)

Il giorno 11-feb-2017, alle ore 17:16, J?r?me Avoustin <notifications@github.com<mailto:notifications@github.com>> ha scritto:

Yes sure, it's fully compatible.
The events are not updated. Only some keys are added to better index events and snapshots.
But once you switch to an indexed redis store, the indexation is done. You can go back to a not indexed redis store, but you wil

[2017-03-19 00:24] josh0707 opened #104 "Get and pass all events from event store to node-cqrs-eventdenormalizer"
Hello,

Thank you for your library.
The issue concerns how node-eventstore transmits events to node-cqrs-eventdenormalizer.

I want to rebuild a viewmodel by extracting all the events from the store.

For eventdenormalizer I can do:
`eventdenormalizer.clear(function(err) {});
eventdenormalizer.replay([/* ordered array of events */], function (err) { if (err) { console.log(err); } });`

For node-ev

[2017-03-19 06:58] adrai commented on #104
It depends on your system but basically you need to wrap for example es.getEvents() with a rest service or a dedicated channel on the messageBus.
Then when you want to rebuild you can ask that service to return your events by streaming or I would recommend to implement some sort of pagination...

[2017-03-19 12:21] josh0707 commented on #104
Thanks.
Basically, I could do:
client ---Rest (rebuild request)--> Host Server: rebuild-readmodel method (request events) ---MessageBus--> EventStore (es.getEvents()) ---MessageBus--> Host Server: rebuild-readmodel method (eventdenormalizer.clear();eventdenormalizer.replay())

The rebuild-readmodel method would be accessible via a Rest request to the Host Server and would send a messages to the Ev

[2017-03-19 12:34] adrai commented on #104
There is no correct or incorrect... just do what best fits in your system.
Usually in my systems I do not request for a replay from client side. I do it on the operations side (i.e. while deploying a new release) => so each time a new ReadModel have to be (re)created the denormalizer processes are started with a special environment variable or flag and then they will request all events (in pages)

[2017-03-19 12:48] josh0707 commented on #104
Thank you for the explanation.

[2017-03-27 14:57] barathank opened #105 "Kafka support?"
Is there a plan on introducing Kafka as one of the event store as well?

[2017-03-28 04:48] adrai commented on #105
Not right now. But feel free to submit a PR :-)

[2017-03-28 11:16] #104 closed

[2017-05-18 07:41] IRT-fbachmann opened #106 "Wrong signature calling mongodb update?"
I had a completely other problem, however, I encounterned a possible fault in the mongodb store [L389](https://github.com/adrai/node-eventstore/blob/master/lib/databases/mongodb.js#L389):
`this.events.update({'_id' : id}, updateCommand, callback);`

The corresponding code in the mongodb driver [L1084](https://github.com/mongodb/node-mongodb-native/blob/2.2/lib/collection.js#L1084)
``

[2017-05-18 08:07] IRT-fbachmann commented on #106
Meanwhile, I found why everything is working. This is from the mongodb driver:
[code]

The callback is not called in the first place, because we're calling it incorrectly. So, it proceeds and creates the promise. `updateDocuments` however, interprets `options`, which is our callback function, as the callback we'd expect to resolve the promise. `updateDocument` calls our callback from within the pr

[2017-06-19 09:23] Nedvedyy opened #108 "Support for Kinesis"
It would be good if event store supports kinesis?

[2017-06-19 10:17] adrai commented on #108
Feel free to submit a PR ;-)

[2017-10-05 15:39] ssipos90 opened #111 "Promise based"
Hello,

In order to avoid callback hell, the library could use promises. I've tried wrapping stuff in promises but there are context issues (`this` is undefined)

eg 1:
[code]

eg 2:
[code]

[2017-10-05 15:42] ssipos90 commented on #38
@inf3rno , I agree.
@adrai , maybe you could copy some bits from a project of yours and post them on the docs.
At this point, I've deciphered by trial and error.

[2017-10-05 17:20] adrai commented on #111
For these cqrs modules I don't want to support Promises... at least not in this major version 😉
I would design the whole thing a bit differently...

[2017-10-12 07:13] repkins opened #112 "Memory issue when loading next events from eventstore"
Hello, @adrai!

I came across with some sort of memory related issues when I loading next page of events from eventstore. The issue becomes more serious when I call  `.next()` method of events array multiple of **thousands** times. As more and more followed by calls of method, memory usage **grows** of node process, which suggests something is causing a memory leak. Apparently, calling `.next()` o

[2017-10-12 08:26] adrai commented on #112
I would be really happy if you could start to analyze this based on your use case...
A sample app that shows the issue you are describing would help a lot.

[2017-10-12 08:44] repkins commented on #112
Actually have done this so far. The conclusion is (trying to explain).. it holds recursive references to variables in closures declared in previous `.next()` invocation, even they're not used in current invocation, which results in chained reference to previous closures ending with first invocation where first events loaded and `.next()` method is declared. So currently declared `.next()` method f

[2017-10-12 08:59] adrai commented on #112
Wow, seems you already did a good analysis... Do you want to submit a PR?

[2017-10-12 09:06] repkins commented on #112
As there seems is needed some redesign I think it's up to you to do so.

[2017-10-12 09:48] repkins commented on #112
`.getEventsSince()` maybe?

[2017-10-12 11:34] repkins commented on #112
Well, it seems memory usage does not grow that dramatically after tried given code.

[2017-10-12 12:36] adrai commented on #112
v1.12.6

[2017-10-12 12:36] #112 closed

[2017-10-19 11:27] ssipos90 commented on #111
Hmmm... maybe I could invest a bit more time on this and do a PR implementing something in the lines of:
[code]

[2017-10-29 00:24] wrobel commented on #112
I assume this commit broke something. It got pretty late debugging this now but I need to reverted back to 1.12.5 in order to get the usage of .next() working. I'm using store.getEvents(0, 100, (err, evts) => {...}) in order to start fetching events and I call .next((err, evts) => {...}) once the first batch of fetched events was denormalized. Unfortunately the second .next() call does call the ca

[2017-10-29 08:22] adrai commented on #112
couldn't reproduce it...

do you mean something like this?

I get:
------ called this callback
------ called next callback
------ called next 2 callback

[code]

[2017-11-14 16:00] wrobel commented on #112
@adrai Sorry for the delay. I followed up on my report now, analyzed the issue and provided a pull request in #116

[2017-11-18 13:31] OleTraveler commented on #108
With kenesis, you'd lose all your events > 7 days old.  Depending on your use case, dynamo to dynamo streams might be a good option.  Write to dynamo, read from dynamo streams and for history, read from dynamo directly.

[2017-11-25 07:29] blissi commented on #111
@ssipos90 Would be greatly appreciated :-)!

[2017-12-07 13:09] ssipos90 commented on #111
@blissi I'll give it a shot around December 17th, I have some spare time then and I need this too.

[2017-12-07 13:10] ssipos90 commented on #111
@adrai , any plans for a promise version?

[2017-12-07 13:13] adrai commented on #111
no time right now... but feel free to contribute...
I suggest an interface for both worlds promise-based and callback-based

[2018-01-02 13:17] atha-github opened #120 "How to add event using event store?"
Unable to add events into eventstore. I try with this:
es.getEventStream('streamId', function(err, stream) {
	  stream.addEvent({ my: 'event' });
	  stream.addEvents([{ my: 'event2' }]);
	  stream.commit(function(err, stream) {
		console.log(stream.eventsToDispatch); // this is an array containing all added events in this commit.
	  });
	});
But showing error..
TypeError: Cannot read property 'fin

[2018-01-02 23:09] adrai commented on #120
did you call es.init() ?

[2018-01-03 11:26] atha-github commented on #120
Yes, I found the issue. You are right @adrai, I have not called es.init().
One more thing..
have you any demo/example project/Source code for eventsourcing with this eventstore? That will help me to integrate properly as the documentation is too short(Not clear everything).

[2018-01-03 12:54] adrai commented on #120
https://github.com/adrai/cqrs-sample

[2018-01-03 12:54] #120 closed

[2018-01-03 13:00] atha-github commented on #120
Thank You so much.

[2018-01-11 11:29] dynnamitt commented on #38
For one; should I as a noob start using JUST node-eventstore or should I look at one of the two "Consumers" .. what is a Consumer ?

[2018-01-11 18:51] adrai commented on #38
it depends...
if you want to do event sourcing just start node-eventstore
if you want to do cqrs start with a "consumer"

[2018-01-11 20:44] dynnamitt commented on #38
Thx . Back on track.

[2018-01-31 09:10] Glockenbeat commented on #111
We are using this along with bluebird, works great so far.

[2018-02-19 10:37] chrisandrews7 opened #121 "Internal publisher only publishes event payload"
The internal dispatcher current only publishes the [event.payload](https://github.com/adrai/node-eventstore/blob/master/lib/eventDispatcher.js#L36).
Is there a reason why it doesn't publish the other event information i.e. aggregateId, aggregate etc?

Context: Am using the dispatcher to publish to a message broker.

[2018-02-19 11:01] adrai commented on #121
event.payload should be what you're looking for if you want to publish to a message broker.

The other information is an "internal" wrap of what you should send via a message broker (https://github.com/adrai/node-eventstore/blob/master/lib/event.js#L38)

If you need the information like aggregateId, etc... you have to put them in there.

[2018-02-19 11:22] chrisandrews7 commented on #121
Ok thanks for the prompt clarification.  👍

[2018-02-19 11:22] #121 closed

[2018-02-20 03:49] jacklam718 opened #122 "Proposal - require dependency directly from databases instead of use `Store.use`"
### Proposal
##### require dependency directly from databases instead of use `Store.use`
For example:
`aws = require('aws-sdk`); instead of [aws = Store.use('aws-sdk');](https://github.com/adrai/node-eventstore/blob/master/lib/databases/dynamodb.js#L5)
I propose this idea because I have some issues.

### Background
I using AWS Lambda with [serverless](https://serverless.com/) and [serverless-webpa

[2018-02-20 03:53] jacklam718 commented on #122
I could submit pull request if you agree my proposal.

[2018-02-20 07:09] adrai commented on #122
Unfortunately this module was not designed to be used with webpack...
the strategy here is to have the database "drivers" in control of the user.
Another idea could be to have an "own" postinstall script that installs the dependency in the appropriate directory...

[2018-02-20 09:41] jacklam718 commented on #122
Ok. Thanks for the quick reply.

[2018-02-20 13:36] jacklam718 commented on #122
But why not just require('aws-sdk') from dynamodb.js directly?
And, I think [serverless](https://serverless.com/) and [serverless-webpack](https://github.com/serverless-heaven/serverless-webpack) is quite famous so maybe other will have same issue...

[2018-02-20 13:41] adrai commented on #122
because of this: https://github.com/adrai/node-eventstore/blob/master/lib/base.js#L174

[2018-02-20 13:46] jacklam718 commented on #122
What about do something like this?
##### dynamodb.js
[code]

[2018-02-20 13:50] jacklam718 commented on #122
Because I don't want other people like me. having same issue and spend few hours to investigate 😛

[2018-02-20 13:53] adrai commented on #122
For sure this will work, but than every implementation needs to do this... that's why we have moved this to a dedicated function.

If that is a concern of several people, we can do that.

The problem is that all cqrs relevant modules are constructed that way.

I also do not understand why it's necessary to use webpack in the backend.

In the mean time I would suggest you to use your fork (if you r

[2018-02-20 13:56] jacklam718 commented on #122
Because AWS Lambda doesn't support ES6. And,  [serverless-webpack](https://github.com/serverless-heaven/serverless-webpack) is official plugin 😶

[2018-02-20 14:14] adrai commented on #122
I know... https://twitter.com/adrirai/status/965700927670931456
but in my opinion... (really just my opinion) I would never transpile something in backend just because it's new and everyone is doing it in frontend... just wait until the real runtime is ready and available (then it's even faster and you need less code)

[2018-02-22 02:42] jacklam718 commented on #122
btw, finally I solved the issue by using babel because babel only do transpile.

[2018-02-23 09:58] chrisandrews7 opened #123 "Disconnecting"
Is there a way of disconnecting from the event store?
The store [disconnect method](https://github.com/adrai/node-eventstore/blob/master/lib/databases/mongodb.js#L177) is there, but its not exposed via the eventstore.

Doing some integration tests and want to disconnect from the store when done.

[2018-02-23 11:34] adrai commented on #123
https://github.com/adrai/node-eventstore/blob/master/test/eventstoreTest.js#L920

[2018-02-23 11:35] chrisandrews7 commented on #123
👍 Thanks

[2018-02-23 11:35] #123 closed

[2018-03-10 20:51] jacklam718 opened #124 "Got error - The conditional request failed"
Hi @adrai
I'm using dynamodb. I can save events by the `commit` method but then I call `commit` for a exists stream then I got this error *The conditional request failed*

for example:
#### first time will be success
[code]

#### second time will be fail - "The conditional request failed"
[code]

[2018-04-10 11:45] fabry00 opened #125 "ELK - No mapping found"
I'm trying to use ELK as storage.
I've created the index:

[code]

[2018-04-10 13:03] adrai commented on #125
@gerbenmeyer can you help?

[2018-04-26 16:25] ssipos90 commented on #111
I've given it a shot, but `this` messes things up and I gave up.

[2018-04-30 17:14] TyGuy opened #126 "Redis cleanSnapshots: wrong number of arguments for 'del' command"
I am using the 'redis' store type with a non-zero `maxSnapshotsCount` option. When saving a snapshot, I get this error from redis client:

[code]

I've noticed this happens specifically when there are no snapshots that need to be cleaned (i.e. if the `maxSnapshotCount` was 5, but the number of snapshots is 1, (or anything less than 6 actually)). It seems like `redis.del` is getting called even whe

[2018-04-30 19:14] #126 closed

[2018-05-04 18:18] bbouchard31 opened #128 "Pagination on event table with dynamo DB doesn't keep the sort order."
Hi,

I'm trying to paginate over the event table by giving a limit and a skip value to the getEvents method.
I'm using dynamoDB and my issue is that the order of the events is totally random because of the dynamoDB scan.
So there is no way for me to rebuild my state without doing snapshots.
Is there a way to keep the order when paginating over all the events of a specific aggregate?

[2018-05-04 20:26] adrai commented on #128
@developmentalmadness @chriscosgriff can you confirm/help?

[2018-05-05 18:26] chriscosgriff commented on #128
@bbouchard31 Can you confirm whether the results for an individual aggregate stream/instance are arriving in a random order for you?

Although I haven't found AWS documentation explicitly stating this, my experience has been that the DynamoDB scan operation will return items for an individual partition key (aggregateID in the case of node-eventstore) in the order in which they were originally stor

[2018-05-06 13:50] bbouchard31 commented on #128
@chriscosgriff Indeed it works for an individual aggregateID because there is no scan but a query that's performed. Switching to mongoDB everything works fine. But that's maybe our usage that's not optimal as we need to rebuild ours states for all of our aggregates without knowing the different aggregatesIDs. Thanks for your quick answers.

[2018-05-06 18:34] chriscosgriff commented on #128
Sorry @bbouchard31, I realise after reading the question I asked you above for a second time, it was not clear enough. I was meaning when performing a scan (not query), like in the way I described we rebuild our projections in my final paragraph. For me, when performing a scan the events for individual aggregates arrive in order, but potentially not all of the events come in the same page/batch an

[2018-05-10 17:19] fabry00 opened #129 "Wrong Dispatch order"
I've a problem with the dispatch order of the events, this is my code:

[code]

The output of the previous code is this:

As you can see the order of the events  received by the function `useEventPublisher` is not the same:
expected: STARTED --> ANALYZING --> LISTENING . but I got: STARTED --> LISTENING --> ANALYZING

if I remove the `useEventPublisher` declaration I got:

Here the first event the

[2018-05-10 21:39] adrai commented on #129
Can you create a test for this?

[2018-05-15 08:27] wi-ski commented on #111
Whats the status on this? :)

[2018-05-30 12:48] ssipos90 commented on #111
@wi-ski use bluebird promises to wrap this lib.

[2018-06-14 15:44] justintime4tea commented on #111
"This" is probably undefined because when using import/export JavaScript is executed in a strict context unless your using Babel to transpile and then import/export should be transpile to require so then I don't know why it's be undefined. If your using "true" import/export to give proper context to "this" you would need to use one of bind, call, or apply. Not sure if any of this helps but good lu

[2018-06-14 16:01] justintime4tea commented on #111
Also instead of wrapping in promises you could try await/async :) not sure if that helps either lol I've become quite interested in event sourcing and event store so will be checking out this library more. If I end up using it I'll submit some PRs or try to repro and squash some bugs if I can find time.

[2018-06-24 05:01] TyGuy opened #132 "Redis events: relaxing constraint of revision starting at 0"
### Summary
I'm not sure if this is a bug or feature request (probably the latter), but here is what I want to do vs what happens.

#### What I want
GIVEN events with revisions "m" through "n" exist for a certain aggregate (regardless of whatever other events exist),
WHEN I query for events using `getEventsByRevision(aggregateId, m, n, callback)`,
THEN I expect to receive events with revisions "m"

[2018-06-24 05:05] TyGuy commented on #132
https://github.com/adrai/node-eventstore/pull/133

[2018-07-30 09:37] beenotung opened #134 "suggest to add typescript support"
It will be more helpful to pick up the library especially when the documentation is not updated.

I am working on this repo, but haven't fully declared the types when I'm still understanding the library.
https://github.com/beenotung/typestub-eventstore

[2018-07-31 11:24] nanov commented on #134
Hi!

Those can be done in a separate repository, exactly like how it was done [here](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/aa574d1aeea616b455518562e7f7fdac68e3d533/types/cqrs-domain/index.d.ts). I could try helping you with building those in case you have any issues, misunderstandings.

HINT : At least to have something to start with, you could inspect the JSDoc declarations.

[2018-09-03 01:22] emmkong opened #135 "Upgrade Lodash Version to Fix Prototype Pollution Vulnerability"
The version of lodash lib uses in this project contains low-risk `Prototype Pollution` Vulnerability. see [https://www.npmjs.com/advisories/577](https://www.npmjs.com/advisories/577), please upgrade it to the latest version if possible. Thanks

[2018-09-03 05:40] nanov commented on #135
The version this projects uses ( 4.17.10 ) is the latest.
I guess your warnings come not directly from this project, but from the (node-cqrs-domain)[https://github.com/adrai/node-cqrs-domain] which depends on this project, but it's dependency isn't updated.

I will update it now, and hopefully those vulnerability warnings will be gone.

[2018-09-03 05:59] nanov commented on #135
I've just published an update for [node-cqrs-domain](https://github.com/adrai/node-cqrs-domain) which addresses those issues.

[2018-09-03 06:29] #62 closed

[2018-09-04 03:18] #135 closed, assigned to nobody

[2018-09-05 18:44] TyGuy commented on #102
@rehia do you still have interest in this, or plans to execute on it?

We are sitting with around 30k events in redis, and noticing it slowing down as well. I think this solution  (indexing on `aggregateId` and using sorted sets) would be awesome!

If you don't have plans to continue it or work on it, would you be willing to share a WIP branch with your implementation? If/when I find some time, I

[2018-09-05 19:09] rehia commented on #102
@TyGuy hi!

Sorry, but I couldn't take some time to start something on this. You can do it, if you have time for it.

The solution I suggested could be a good one, but as usual, it must first be validated on the field.

I hop you'll find more time than me 😅 Good luck !

[2019-01-29 10:32] eugenio79 commented on #122
I had a similar problem with `eventstore` and it got solved by using [webpack-node-externals](https://www.npmjs.com/package/webpack-node-externals).

[2019-02-20 15:45] tpaulshippy opened #140 "Unit tests failing"
When I pull down the repo and run the tests, I get 312 passing and 10 failing. Am I missing a setup step?

Here are the failures:

[code]

[2019-02-20 16:10] nanov commented on #140
your mongo setup ( and probably redis ) requires authentication for ```delete``. You could try and manipulate the connection string/object in the tests ( do not commit, only on local ) with the appropriate authentication data.

[2019-03-26 14:08] bstahlhood opened #141 "Upgrade Lodash to 4.17.11 to fix Prototype Polution"
https://npmjs.com/advisories/782

https://cl.ly/32e47e641c84

https://cl.ly/a526997a1a8f

[2019-05-15 19:49] gssumesh commented on #125
I am facing same issue. Had to create the index because initially on startup it complained index eventstore doesn't exist. So if you create index we end up getting this error. It could be because of new version of Elasticsearch and the way it changed behaviour. I was using 7.0.1 in docker.

[2019-05-16 06:01] nanov commented on #125
Just my two cents, by looking at the driver it seems to be written for older versions of Elasticsearch ( i would say 2.x ) so even if you overcome this issue more issues are to be expected ( usage of types for example ).

May I ask what is the motivation behind using elasticsearch as eventstore?

[2019-05-16 20:42] gssumesh commented on #125
@nanov you are right. It could break because now ES doesn't support type field in index.  For me personally, was trying out options other than Redis to try and test locally with different eventstore. Less relevant to issue but to your question:
 Which other from supported eventstore you recommend as good for event storage? I mean is it DynamoDB or Redis e.t.c

[2019-05-22 19:40] bikerp commented on #125
I'm facing the same issue (using 7.0.1 in docker)
[code]
I had to manually create an index. But then I got this error:
[code]

[2019-05-24 06:39] bikerp commented on #125
@nanov Currently I use DynamoDB as event store. I'm wondering if there might be issues related to events replay. Since the DynamoDB is key/value database how do you solve the replay of all events?

[2019-05-26 08:26] nanov commented on #125
@bikerp I'm not sure about the DynamoDB implementation, maybe @developmentalmadness has some insights.

As of the Elasticsearch implementation, theres some work that needs to be done in order to make it compatible with elasticsearch 7.X ( or 6.X for that matter ). I'm not sure it is worth looking into it, as, in my opinion, elasticsearch is totally not suitable to serve as an eventstore.

[2019-05-26 09:00] bikerp commented on #125
@nanov Thanks for the reply. Could you be more specific why elasticsearch is not suitable as eventstore?

[2019-05-26 09:36] nanov commented on #125
Well elasticsearch isn't exactly a database, it has some issues with error handling and it isn't recommended as a main database in any use case. When indexing new documents ( ie writing ), they aren't available for search instantly ( unless you use the wait_for flag, which makes writes slow ) and generally it is designed for other purposes ( well, full-text search ).

Having that said, having your

[2019-05-26 09:46] bikerp commented on #125
@nanov Thanks for the explanation.

[2019-05-27 05:13] developmentalmadness commented on #125
Haven't worked on it in a couple years but I don't think DynamoDB has snapshots implemented. That would be a major drawback unless your model had limited lifetime as ours did when I implemented it.

[2019-05-27 05:28] developmentalmadness commented on #125
Should have checked first before I replied... Looks like snapshots are implemented but our usage didn't need snapshots. Dynamo should be able to handle the usage pattern but I left the company using this 8 months after we put it into production so I don't have much long term insights into any issues with it

[2019-06-03 13:29] dbartholomae commented on #122
@adrai Our main reason for using webpack is that we write our code in TypeScript. Having strongly typed code is even more useful in the backend than in the frontend. Basically we have four alternatives now:
1. Try out a different transpiler to get TypeScript working - which might not actually solve the problem.
2. Find a way to get this library to work with webpack - would only make sense if this

[2019-06-03 13:31] #141 closed

[2019-06-03 18:04] dbartholomae commented on #122
Don't worry, not talking about adding typings in here ;)
Just about making it possible to use the library with a transpiler :)

[2019-06-04 17:51] nanov commented on #122
Just my two cents, I don‘t really get the problem to use the library with your favorite transpirier, be it rollup, webpack or parcel. All of them have settings and options which allow this, is the dynamic import the only issue here?

[2019-06-04 17:52] dbartholomae commented on #122
So far we have multiple days just trying to set this up with webpack and don't see a light at the end of the tunnel yet :-/

[2019-06-04 17:57] nanov commented on #122
If you are not set on webpack, I would definitely give parcel a shot. If you supply some repo, I could take a look.

The thing is that, I guess your problems come from the dynamic imports, as such i‘m not sure that the proposal from this issue will solve them.

[2019-06-10 05:49] nanov commented on #122
I just had an idea, which might work for you, if we provide the ability to supply the library with the options so the implementation wont have to require it by itself ( dynamically ), will that work for you?

[2019-06-11 19:26] eechava6 opened #143 "Mongo URL parser deprecated."
Hi, working with eventstore, when DB is mongoDB it displays the following warning:

(node:55180) DeprecationWarning: current URL string parser is deprecated, and will be removed in a future version. To use the new parser, pass option { useNewUrlParser: true } to MongoClient.connect.

Solved that adding

[code]

Line = 98
File = mongodb.js
Path = eventstore/lib/databases/

(If you want I can make p

[2019-06-11 19:40] dbartholomae commented on #122
We are currently in the works of getting the first prototype live. As soon as we have it (I assume next week) we will share the code base and some ideas for how it could be improved for our usage case :)

[2019-06-12 14:34] adrai commented on #143
It's in the master codebase now, if ok for you I will not immediately create a new version.
Unless it's very important for you.

[2019-06-20 14:49] walling opened #144 "PostgreSQL data store"
Are there any plans to support PostgreSQL for storage?

[2019-06-20 15:50] adrai commented on #144
We do very like accepting pull requests 😜

[2019-08-15 20:50] kojuka opened #146 "override commitStamp ?"
I have a bunch of events I'm copying over from a previous project where I stored events in mysql.  I'd like to migrate those events over to this library.  Is there a way to create these events  while overriding the commitStamp as a previous date?

[2019-08-15 22:12] adrai commented on #146
not really... currently you would need to create a migration script yourself... perhaps by requiring the store implementation (https://github.com/adrai/node-eventstore/blob/master/index.js#L67) and doing something like this: https://github.com/adrai/node-eventstore/blob/master/lib/eventstore.js#L501

[2019-08-16 09:14] nanov commented on #146
you could do it pretty straight forward with a helper script, something like this (semi pseudo code):
[code]

[2019-08-16 16:29] kojuka commented on #146
@nanov Ah i see -- That is pretty straight forward.  I'll get the events in the store first, then run a simple helper script to override the commitStamp afterwards.

I was hoping to be able to define the commit stamp when adding the events to the event store.  This would be a really helpful feature for anyone working on legacy systems or trying to add event sourcing to an existing project.  Someth

[2019-08-16 16:29] #146 closed

[2019-08-21 20:05] kojuka opened #148 "Replaying events to rebuild aggregates"
Loving this library but still pretty new to event sourcing.

I'm having a tough time replaying events to rebuild aggregates.  The issue I am having is that it keeps killing my pods on my cluster.  Seems as if rebuilding these aggregates is a pretty memory intensive process.

Currently I loop through my aggregates and publish messages to rabbitmq to distribute the work of rebuilding.  This works pr

[2019-08-22 02:10] adrai commented on #148
Can you describe a but more in detail how you are doing this? How does your setup look like? Which functions do you call? How many events are you replaying?
How dows the “other” side look like? Do you use cqrs-eventdenormalizer?

[2019-08-26 16:18] HCanber opened #150 "Release a new version with new lodash"
Please release a new version with the lodash fix that was committed in commit 3f0998503

[2019-08-26 19:34] adrai commented on #150
as soon as https://github.com/adrai/node-eventstore/pull/149 gets merged

[2019-08-29 06:26] nanov commented on #150
Just released v1.15.0 with latest lodash version.

[2019-08-29 06:26] #150 closed

[2019-09-04 12:23] johannesschobel commented on #144
how would we create such a postgres store? any "instructions" on this?

[2019-09-04 12:25] nanov commented on #144
well, you can take a look at the [inmemory](https://github.com/adrai/node-eventstore/blob/master/lib/databases/inmemory.js) implementation which serves as a 'base' for the rest. Basically adding an adapter [here](https://github.com/adrai/node-eventstore/tree/master/lib/databases) should do the trick.

[2019-09-10 02:15] lysender opened #152 "Auto-reconnect MongoDB"
Is there an option to reconnect to MongoDB after it has been disconnected briefly? I just tried to stop/start the MongoDB server and it doesn't seem to recover after disconnecting.

Below is my example code.

[code]

Note: I'm using NestJS as a framework, if that matters.

[2019-09-10 05:14] adrai commented on #152
put the mongodb driver specific options in a sub object options:

{
   timeout: 20000,
   options: {
      autoReconnect: true
   }
}

[2019-09-10 05:42] lysender commented on #152
@adrai confirmed that it works!

I noticed that `store.on('connect') ` doesn't get called when reconnected but `store.on('disconnect')` gets called every time it gets disconnected.

However, I get the information that I need. All good. Thanks!

[2019-09-10 05:42] #152 closed

[2019-09-22 08:45] kerdany opened #153 "Calling `es.init()` multiple times causes multiple `connect` & `disconnect` listeners to be added"
Hi,
I would first like to thank you for the nice and very useful library.

I'm writing down code to ensure that the connection to the database (currently using `MongoDB`) is always up, by handling cases like:
- When the service initiating the event store boots up before the mongodb process starts.
- When a disconnection happens (e.g. after a mongodb restart) or a temporary network problem.

I trie

[2019-09-22 09:26] adrai commented on #153
May I ask how your mongodb options look like?
There’s a possibility to define autoReconnect for mongodb...

[2019-09-22 11:55] kerdany commented on #153
Thanks @adrai,
`autoReconnect` did the trick, my bad!

To answer your question, here're the options (after enabling autoReconnect):

[code]

[2019-09-22 11:55] #153 closed

[2019-09-30 15:26] gingobaum opened #154 "When using tingodb, no more events are published after restarting app"
Hi,

I wanted to use eventstore with tingodb, since it's the only why for using eventstore with the local filesystem.

When I start my app for the first time, everything works fine. But when I start it again, it does not commit and publish the events. It seems there is an error when committing.

`Error: duplicate key error index`

The options I pass to eventstore are:
[code]

When I delete the .ti

[2019-09-30 20:59] adrai commented on #154
Is it reproducable in a sample repo?

[2019-09-30 22:39] gingobaum commented on #154
Here is one.

Using:
- tingodb: 0.6.1
- eventstore: 1.15.1

Running it for the first time works as expected. A second time ends up in mentioned error.

[code]
And I just noticed, that in the case of running the script, increasing the number of events and running it again, will cause an error for the number of events saved before. Every additional will be added as usual.

It's all the same, if I dy

[2019-10-01 06:11] adrai commented on #154
Can you try with v1.15.2 ?

[2019-10-01 11:22] gingobaum commented on #154
It seems to work as expected with v1.15.2.
Thank you very much.

[2019-10-01 11:35] gingobaum opened #155 "Flag for dropping existing data when initializing?"
Is it possible (or are there any chances) to provide a flag that signals eventstore to drop all existing data and/or databases, so we can start from zero?

For example in sequelize there is a flag called *force*, that creates that behavior.

I think, it would be great for development and testing purposes.

[2019-10-01 12:43] nanov commented on #155
I believe ```es.store.clear(cb)``` is what you are looking for.

[2019-10-01 12:51] gingobaum opened #156 "Method for testing if there are any or how many events are stored?"
Is there some other (convenient) way to check, if the store already contains some events or how many, than the following?

[code]

[2019-10-01 13:02] gingobaum commented on #155
Yes, looks like it.
Maybe it should be mentioned in the documentation?

And how about a options flag for the user's convenience?

[2019-10-01 13:52] nanov commented on #156
TL:DR;

Not really.

Explanation

it really depends on what you want, the events count, see if specific events are there or something else, basically you need to query those based on the database adapter for more complex scenarios.
Implementing additional query methods is not a bad idea ( count, byName ), is that what you are looking for?

[2019-10-01 14:16] gingobaum commented on #156
The method could be useful in some way.
Actually I simply would like to see, if there are already some events stored I can replay, or if I even have to initialize my application (with default users or something else).

[2019-10-01 14:42] nanov commented on #156
to see if there are some events ( no matter which ) :
[code]

should do it, and then you can use it like that:
[code]

[2019-10-01 14:43] nanov commented on #155
I truly don't see any point in such options flag.

However, as long as it is falsy by default i also have noting against it, PRs are welcome.

[2019-10-02 06:42] #155 closed

[2019-10-02 10:21] gingobaum commented on #156
I am using such function now and it is not that big of a deal. The only thing that comes to mind would be code duplication, if it's used in different parts or projects.

[2019-10-02 12:04] nanov commented on #156
Well, again as i mentioned in an other issue of yours, PRs are welcome.

[2019-10-02 12:04] #156 closed

[2020-02-13 11:23] imissyouso commented on #105
Seems idea of using Kafka as event store is really good. @adrai what is your personal opinion about this feature? May be you see obvious underwater rocks?

[2020-02-13 11:41] adrai commented on #105
Never used it 🤷‍♂️

[2020-02-15 07:59] nanov commented on #105
Using Kafka as an eventstore is rather awful idea.

Each aggregate ( not aggregate type, but aggregate, ie id ) is a separate ordered stream, that needs to be streamed with in order to rebuild the aggregate state ( ie before each command is executed ). Solving this with Kafka is not impossible but highly complex and unperformant ( you have two options, one partition for all events and then streami

[2020-02-16 15:10] imissyouso commented on #105
@nanov hi,
we don't need to rebuild aggregate state every command, we can cache it in internal DB, like Kafka community suggests to do it using Kafka Streams or something like this.

But Kafka as event store gives us possibility to use it as a Bus and as a Single event store at the same time. We do not need to do replays of events at cold start of new services anymore, we just read events from Kaf

[2020-02-17 12:26] nanov commented on #105
I do get the advantages regarding the other services ( saga/demoralizer ).
What you basically do is a snapshot per each event, this could work and depending on the use case it may even be a good idea, can you assure exactly-one-semantic this way?

[2020-02-18 09:51] imissyouso commented on #105
@nanov
Kafka provides exactly-once semantics between **producer** and **broker** since version 0.11 out of the box, it means that message will be saved in the storage only once without duplication and events losses.
As I understand for providing full exactly-once semantic between **producer** and **consumer** we should use their Transaction API on consumer side too, it is fully implemented over th

[2020-02-18 12:53] imissyouso commented on #105
proof-of-concept https://github.com/imissyouso/domain-cqrs-kafka-eventstore

[2020-02-18 16:56] nanov commented on #105
Again, all that is known, still you are loosing the main idea of eventstreams here and compensating for it with something like a snapshot storage.

What happens if you want to review some events?
What happens if you want to change how eventhandlers behave?

All this are pretty trivial right now and come out-of-the-box, in your case you'll have to write some aggregate rebuild logic.

I definitely t

[2020-02-18 17:07] imissyouso commented on #105
@nanov
thank you for reply, but I feel I have didn't understand:
[code]
Could you provide examples?
Thanks.

[2020-02-19 10:16] nanov commented on #105
Its pretty simple, let's say you have an event ```ProductDescriptionChanged```, your first handler implementation just changes the ```description``` property on the aggregates state, after some time you decide that you want to also represent the timestamp of the change in your aggregate state in order to do some other business logic validation.

The simple approach would be just to change the way

[2020-02-19 11:23] imissyouso commented on #105
@nanov
thanks for your reply again, I think you did not understand my idea, to clarify I draw this image
![Untitled Diagram (4)](https://user-images.githubusercontent.com/1973760/74829870-06b97680-5323-11ea-8bcb-f6af7894e95f.png)
so I still do not see any fundamental logical contradictions which can hinder to implement these points
[code]

[2020-02-19 12:16] imissyouso commented on #105
also, such approach solves our issue https://github.com/adrai/node-cqrs-domain/issues/153
Here we can simple use Redis aggregate state store for making unique fields validations on 'preCondition' state.

[2020-02-21 08:17] nanov commented on #105
I think you don't get how the current, or any classical cqrs/es, implementation works.

The fundamental difference here is that you don't have a aggregate state store, state is recreated before each new command, welcome to event-sourcing.

I am not saying that your implementation cannot work or has no uses - but it is different you remove one component (es) but introduce a two new ones (kafka, agr

[2020-02-21 09:36] imissyouso commented on #105
@nanov
[code]
yes, I already use `getEventStore` to inject my own event store implementation
[code]

[2020-02-21 09:43] nanov commented on #105
[this is what i ment](https://eventstore.com/). :)

[2020-02-21 09:44] dmitry-textmagic commented on #105
but isn't it technically the same? What's the difference between:
a) recreating the aggregate state by picking up the last aggregate snapshot + all events went to the event store after the last snapshot;
and b) recreating the aggregate state by loading it from the aggregate state?

a) and b) solutions look exactly the same for me, except that "snapshots" are taken continuously on each event.

Even

[2020-02-21 09:49] imissyouso commented on #105
also Kafka can "compact" events which works similarly to snapshots https://medium.com/swlh/introduction-to-topic-log-compaction-in-apache-kafka-3e4d4afd2262

[2020-02-21 09:58] nanov commented on #105
@dmitry-textmagic

Well it's not the same ( snapshots are optional, configurable, and generally avoidable  ), taking them out of the way you recreate and reapply event handlers before command, it really is everything except the same.

Plus, for snapshots you really don't care if they are created or not, you don't have to wait for them either handle failuers with them, as opposed that by you it is

[2020-02-21 10:41] imissyouso commented on #105
the next command will be executed only when we are 100% sure that aggregate was updated, it solves on the code level - we execute `callback` in `addEvents` method only when received acks from redis/kafka, otherwise we rise timeout exception and command fails. If it was failed by timeout then there could be situations when we published event to kafka but due redis failing not in redis - by this way

[2020-02-21 10:51] nanov commented on #105
But it is, readmodels can be cross-aggregate and even cross-context, loosing the order here **may** be vital, depends on design. Same thing applies for sagas.

[2020-06-19 20:37] freitzzz opened #160 "MongoDB connection fails with current default options"
Since `ssl` option is set to false, it is not possible to establish a connection to a MongoDB server using an ecrypted connection (e.g. MongoDB Atlas). This option is not even featured in how to connect to each database in README.md. It would be great if the documentation on how to get started is updated as well as defaulting ssl option to true.

[2020-06-19 20:46] adrai commented on #160
Would you like to create a PR?
regarding the default ssl option, I don’t think it should be set to true by default, because of backwards compatability

[2020-06-19 21:13] freitzzz commented on #160
Hi @adrai thanks for the quick response! I don't mind updating the documentation! However I'm currently on full work + education schedule and can't contribute, unfortunately. If I manage to have some time and nobody started working on this, I will make sure to update the issue to refer that I will update the documentation. Regarding backwards compatability, do you mind explaining a little better?

[2020-06-19 21:20] adrai commented on #160
If we would change the defaults, which currently are:

[code]

and most of the users of this library use some sort of local network connection to the mongodb server, without any ssl; this would break their code...
This is why I would suggest to not change the defaults.

[2020-06-19 21:21] freitzzz commented on #160
Oh I see, makes sense. Thanks for the explanation!

[2020-07-04 17:00] odin16 opened #161 "DeprecationWarning: current Server Discovery and Monitoring engine is deprecated"
Hello I am working with a mongo connection but I get the following warning:

[code]

The solution is to add the new option but I'm not sure where, so it is possible in any of the following places:

1. **/lib/databases/mongodb.js**
* line: 91

[code]

2. **/lib/databases/mongodb.js**
* line: 98

[code]

[2020-07-04 17:10] adrai commented on #161
Can you provide a PR for Option 2?

[2020-07-10 01:46] odin16 commented on #161
Excuse me, I've been a little busy and haven't seen your answer. Of course I will do a PR, Thanks.

[2020-07-14 07:04] #161 closed

[2020-07-14 07:04] adrai commented on #161
v1.15.3

[2020-07-20 13:16] mohamadelhinamy opened #164 "User Interface"
Is there some kind of a user interface or ann integration maybe with a library that provides a UI for the events and so on?

[2020-07-20 15:26] adrai commented on #164
no

[2020-07-20 15:26] #164 closed

[2020-07-24 20:22] albe commented on #105
Don't use Kafka as EventStore. Kafka does not provide consistency guarantees (i.e. via optimistic concurrency check). It will completely mess up your data if you have multiple concurrent processes rebuild an aggregate and create new events (which you will if you just process http requests). See https://dyllanwli.github.io/2019/02/10/Using-Kafka-as-a-Event-Store/#:~:text=Kafka%20does%20not%20suppor

[2020-07-29 07:55] ScripterSugar opened #165 "Question: Can I query snapshots by date?"
Hello.

I'm building my own event-store architecture based on this library and currently working on handling various error scenarios that might occur in real-life situations.

I'm wondering how can I rebuild my read models with optimized solution using snapshots, when I have to rebuild only read models based on specific aggregates (EX: "User") with snapshot data made before specific timestamp.

As

[2020-07-29 09:24] ScripterSugar opened #166 "MongoDB: "revision" field type should be casted to number when createSnapshot"
Hi.

I've experienced wrong order issue while querying snapshots as I stored my snapshots with "string" typed revisions, and I think the library should force revision inputs in number type because string typed revisions cause sort issues when we query documents like this:

[code]

document with revision "24" comes out first even if there's a document with revision "124" and there's no errors nor w

[2020-07-29 13:46] adrai commented on #166
How are you creating snapshots?

How do you call es.createSnapshot()

[2020-07-29 13:49] adrai commented on #165
This is not possible right now, because the state in your snapshot will/should look completely different to what you may use on the readmodel side.
Snapshots are only used to optimize aggregate loading to ensure the business rules...

[2020-07-29 13:50] adrai commented on #166
it’s the same revision value passed when creating the snapshot

[2020-07-30 09:10] ScripterSugar commented on #166
@adrai
Yes I found it out yesterday. What I want to say is that since the store implementation (at least mongodb implementation) assumes that revisions are in number format, it's better to throw errors when people try to push revision value in another format rather than number.

[2020-07-30 09:14] adrai commented on #166
Feel free to provide a PR.

[2020-07-30 09:14] ScripterSugar commented on #165
For those who wondering how I solved this problem:

I ended up creating another event stream with dynamically generated context having unix timestamp as revision for only storing snapshots and made my own encapsulated method to create snapshot query with those unix timestamps.

[2020-07-30 09:14] #165 closed

[2020-07-30 09:16] adrai commented on #165
It's just not used, like intended, but if it works for you...

[2020-07-30 09:58] #166 closed

[2020-07-31 07:05] ScripterSugar opened #168 "[MongoDB] BUG: streamEventsByRevision omits first event and repeats last event."
Hi. I found the bug on the mongoDB implementation method streamEventsByRevision.

If I call streamEventsByRevision like this

[code]

It returns stream with data

[code]

As you can see first event has omitted and last event has duplicated.

The test script scenario couldn't catch the issue as it only checks if length of returned events is appropriate..

I think I can create a PR for quick fixing

[2020-07-31 07:52] adrai commented on #168
fixed in v1.15.5

[2020-07-31 08:51] #168 closed

[2020-08-04 19:25] m-sterspace commented on #160
@freitzzz were you ever able to get this to connect to mongo atlas? When I run `init()` it doesn't seem to properly establish a connection...

[2020-08-07 18:00] freitzzz commented on #160
yes @m-sterspace

want me to send a code snippet?

[2020-08-13 13:07] nanov commented on #160
i don't think that changing the defaults is an option. you provide a connection string with all the options that you might need and this should work.The defaults are, as the name suggests, defaults for most users which will use a local mongo connection.

[2020-08-14 09:00] freitzzz commented on #160
i dont think you can disable or enable SSL communication through the connection string

[2020-09-03 21:43] susannaroden commented on #111
Hey everyone 👋

New maintainer here… we, i.e. @thenativeweb, have taken over the responsibility to maintain this module from @adrai, and I would like to give a little update on this issue:

We agree that supporting promises would be a major benefit for this module, so one of the first things we are going to do is to introduce a promise-based API. This will take some time, but for now I am closing

[2020-09-03 21:43] #111 closed

[2020-09-03 21:44] susannaroden commented on #134
Hey everyone 👋

New maintainer here… we, i.e. @thenativeweb, have taken over the responsibility to maintain this module from @adrai, and I would like to give a little update on this issue:

We agree that TypeScript support would be a major benefit for this module, so one of the first things we are going to do is to migrate the code base to TypeScript, so we will automatically have types for this.

[2020-09-03 21:44] #134 closed

[2020-09-03 21:45] susannaroden commented on #140
Hey everyone 👋

New maintainer here… we, i.e. @thenativeweb, have taken over the responsibility to maintain this module from @adrai, and I would like to give a little update on this issue:

One of the first things we are going to do is to update the test setup, so that it becomes easier to run the tests in a reliable way. So for now, I am going to close this issue.

If you have any questions or an

[2020-09-03 21:45] #140 closed

[2020-09-03 21:55] susannaroden commented on #77
Hey everyone 👋

New maintainer here… we, i.e. @thenativeweb, have taken over the responsibility to maintain this module from @adrai, and I would like to give a little update on this issue:

It would be awesome to have such a maintenance UI for the event store, however we assume since nothing has happened in this issue for 4 years now, the project did not come alive, did it? For now, it probably do

[2020-09-03 21:55] #77 closed

[2020-09-03 21:57] susannaroden commented on #38
Hey everyone 👋

New maintainer here… we, i.e. @thenativeweb, have taken over the responsibility to maintain this module from @adrai, and I would like to give a little update on this issue:

We agree that there is a strong need for a better documentation, and this will be one of the first things we are going to do with this repository. Hence, I am going to close this issue for now.

If you have any

[2020-09-03 21:57] #38 closed

[2020-09-03 22:00] susannaroden commented on #148
Closed due to inactivity for more than 1 year.

[2020-09-03 22:00] #148 closed

[2020-09-03 22:01] susannaroden commented on #144
Closed due to inactivity for more than 1 year.

[2020-09-03 22:01] #144 closed

[2020-09-03 22:02] susannaroden commented on #143
Since this is in `master` now, I am going to close this.

[2020-09-03 22:02] #143 closed

[2020-09-03 22:04] susannaroden commented on #71
Closed since this issue is inactive for multiple years now.

[2020-09-03 22:04] #71 closed

[2020-09-03 22:04] susannaroden commented on #73
Closed due to inactivity for multiple years.

[2020-09-03 22:04] #73 closed

[2020-09-03 22:05] susannaroden commented on #76
Closed due to inactivity for multiple years.

[2020-09-03 22:05] #76 closed

[2020-09-03 22:05] susannaroden commented on #129
Closed due to inactivity for more than 1 year.

[2020-09-03 22:05] #129 closed

[2020-09-03 22:06] susannaroden commented on #108
Closed due to inactivity for multiple years.

[2020-09-03 22:06] #108 closed

[2020-09-03 22:07] susannaroden commented on #63
Closed due to inactivity for multiple years.

[2020-09-03 22:07] #63 closed

[2020-09-03 22:08] susannaroden commented on #69
Closed due to inactivity for multiple years.

[2020-09-03 22:08] #69 closed

[2020-09-04 05:54] blissi commented on #111
Hi Susanna,
OT: greets from Rheinhausen to you and Golo ;-)
Nice that you will maintain this project!

[2020-09-15 20:11] chill-cod3r commented on #160
@freitzzz according to the mongodb docs you can - https://docs.mongodb.com/manual/reference/connection-string/#connection-options

[2020-09-15 20:56] joaomagfreitas commented on #160
Didn't know about this, thank you

[2020-12-17 21:57] kojuka opened #171 "Opposite of getEventsSince"
Love this library.  Thank you!

I have a question about querying for the state of an aggregate.  I need to get the the state of an event stream from its start to a certain timestamp.  Is there a way to do this.  It would work the same as `getEventsSince` but instead be something like `getEventsUntil`.

I see that you can add a limit to `getEvents` but that that doesn't quite do it as I'd like to b

[2021-02-26 11:27] benanderton opened #173 "npm audit fail on dotty"
Since this project is no longer actively maintained I've forked it, fixed the npm audit fail for the dotty NPM package and created a new NPM package over here - https://www.npmjs.com/package/sort-eventstore

We're using this in a few internal projects so should keep it maintained.

[2021-03-01 22:24] FBurner opened #174 "Azure table is deprecated"
Hi there,

azuretables seem deprecated, is there a plan to support  cosmos db instead?

Edit:

Cosmos DB - Tables API is not compatible with StoredEvent Attribute id,

var StoredEvent = function (event) {
  this.PartitionKey = eg.EntityProperty(event.aggregateId);
  this.RowKey = eg.EntityProperty(event.id);
  this.aggregateId = eg.EntityProperty(event.aggregateId);
  this.**identifier** = eg.Enti

[2021-03-04 00:11] FBurner commented on #174
Are snapshots not stored automatically after commit?

[2022-04-10 16:48] kodeine commented on #173
@benanderton are you still maintaining `sort-eventstore`? if you guys are still, then i guess it would be beneficial to start your own repo instead of a fork so we can write issues and start collaborations?

[2022-04-21 08:15] kojuka commented on #160
were you guys able to get this to work with mongo atlas?  I'm struggling with some strange errors.  my app seems to connect find, but when I try any query ie. getEventsByRevision, i get the following:
```TypeError: Cannot read properties of undefined (reading 'find')```

I've been using this package for a couple years with a mongo cluster I run in my own kubernetes cluster.  I'm ready to give atla

[2022-04-21 08:47] joaomagfreitas commented on #160
Mongo Atlas = Mongo Cloud, right? If so, yes.
Below you can find the public sources for a university project where this issue was risen.

https://github.com/freitzzz/insis-acervo-biblioteca-2019-2020/tree/master/acervo-biblioteca-mb/GestaoUtentesCommand

[2022-04-21 16:59] kojuka commented on #160
@freitzzz

Yes.  And using that repo I was able to get mine working!  Thanks!

for others who struggle with this.  My changes were this:

1) Add `?retryWrites=true&w=majority` to the end of the mongo url
2) Add the following options
[code]
This is what I added.

[code]

[2022-04-22 21:09] joaomagfreitas commented on #160
Glad to know it helped :)